
.fomCon {
    font-family: map-get($tipo-letra , "contenido");
    font-size: map-get($letras , "pequeña");
    font-family: map-get($tipo-letra, "subsubtitulo");
    font-weight: 600;
    background-color: map-get($colors, "segundo");
    color: map-get($colors, "black");
    padding: 5rem;
    
    _:focus {
        transform: scale(1.2);
    }

    h1 {
        @include subtitulos;
        @include ultracentrado;
        font-weight: 700;
        color: map-get($colors, "black")
        }
    
    .formtext {
        font-family: map-get($tipo-letra, "subsubtitulo");
        font-size: map-get($letras, "pequeña");
    }
    
}
