//Variables//
@import "./variables";


//Inicio del footer//
.piecito {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: map-get($colors,"black" );
    //Boton volver arriba//
    
    .pieBtm{
        @extend .boton;
    }
}

footer {
    font-size: $font-size-links-foot;
    color: map-get($colors, "tercero");
    font-family: 'Montserrat', sans-serif;
}

footer ul {
    font-size: $font-size-links-foot;
    color: map-get($colors, "tercero")
}

//Fin del footer//