//Variables//
@import "./variables";

//Carousel de noticias//
.carounoticias {
    background-color: #000;
    overflow: hidden;
    font-size: $font-size-content;

}


.img__carousel {
    height: 50rem;
    object-fit: cover;

    

    /*Media query del carousel*/
    @media only screen and (max-width:768px) {
        height: 70vh;
    }

    @media only screen and (max-width: 425px) {
        height: 60vh;
    }
}

