//Carousel de noticias//
.carounoticias {
    background-color: #000;
    overflow: hidden;
    h1 {
        @include titulos;
        color: map-get($colors, "black");
        background-color: map-get($colors, "primero" );
        opacity: 0.7;
    
        @media only screen and (max-width:768px) {
            @include subtitulos;
            font-weight: 800;
        }
    
        @media only screen and (max-width: 425px) {
            
        }
    
    }
    p {
        font-size: map-get($letras, "pequeña");
        color: map-get($colors, "black");
        background-color: map-get($colors, "segundo" );
        opacity: 0.8;
    }
}

.img__carousel {
    height: 50rem;
    object-fit: cover;

    /*Media query del carousel*/
    @media only screen and (max-width:768px) {
        height: 70vh;
    }

    @media only screen and (max-width: 425px) {
        height: 60vh;
    }
}

/*Sección de noticias*/
.notianime {
    background-color: rgb(38, 75, 124);
    padding: 5rem;
    width: 100%;
    font-size: 2rem;

    .subTitle {
        @include subtitulos;
        font-weight: 800;
        color: map-get($colors , "segundo" );
    }

    h3 {
        @include subtitulos;
        font-weight: 500;
        color: map-get($colors , "black" );
    }
    p {
        @include contenido;
        color: map-get($colors, "tercero" );
    }

    &__n1 {
        width: 33,33%;

        &__img {
            width: 100%;
        }
    }

    &__n2 {
        width: 33,33%;

        &__img {
            width: 100%;
        }
    }

    &__n3 {
        width: 33,33%;

        &__img {
            width: 100%;
        }
    }
}

/*ultimos caps de anime*/
.nvanimeep {
    .subTitle {
        @include subtitulos;
        font-weight: 800;
        color: map-get($colors , "segundo" );
    }
}


