/*Contenido de noticia*/
/*Sección ultimas noticias*/
.ultNot {
    background-color: #465DC2;
    color: #E173EB;
    padding: 2rem;
    width: 100%;
    border-bottom: #FFDBDF 1px solid;
}

.ultNot:hover{
    animation: morph 3s infinite;
}

@keyframes morph {
    0% { background-color: #465DC2; }
    33% { background-color: #142fa8; }
    66% { background-color: #0632f7; }
    100% { background-color: #0c1852; }
}

.ultNot h1 {
    font-size: 3rem;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 1 / 2 span;
}

.ultNot p {
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Noticia destacada*/
.notDest {
    background-color: rgb(38, 75, 124);
    padding: 5rem;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.notDest:hover{
    animation: morph 5s infinite;
}

@keyframes morph {
    0% { background-color: #465DC2; }
    33% { background-color: #142fa8; }
    66% { background-color: #0632f7; }
    100% { background-color: #0c1852; }
}


.notDest h3 {
    grid-column: 1 / 2 span;
    grid-row: 1fr
}
/*Fin de contenido de Noticias*/

/*Media query del carousel*/
@media only screen and (max-width: 425px) {
    .ultNot {
        display: flex;
        flex-direction: column;
    }
    
    .ultNot h1 {
        font-size: 2rem;
    }
    
    .ultNot p {
        font-size: 1.5rem;
        color: #000;
    }
    

    /*Noticia destacada*/
    .notDest {
    display: flex;
    flex-direction: column;
    background-color: #465DC2;
    padding: 5rem;
    width: 100%;
    }

    .notDest h3 {
    grid-column: 1 / 2 span;
    grid-row: 1fr
    }
/*Fin de contenido de Noticias*/
}