/*Contenido de noticia*/
/*Sección ultimas noticias*/
.ultNot {
    text-align: justify;

    &__img {
        @include ultracentrado;
    }

    h1 {
        @include titulos;
        @include ultracentrado;
        font-weight: 800;
        color: map-get($colors, "black")
        }
    h2 {
        @include subtitulos;
        font-weight: 700;
        color: map-get($colors, "black")

    
    }

    background-color: map-get($colors, "segundo");
    padding: 2rem;
    width: 100%;
    border-bottom: #FFDBDF 1px solid;
    p {
        @include contenido;
        color: map-get($colors, "black");
    }
    span {
        @include ultracentrado;
        opacity: 0.7;
        font-style: italic;
        color: map-get($colors, "black");
        font-family: map-get($tipo-letra, "subsubtitulo" );
        font-size: map-get($letras, "pequeña");
    }
}

.ultNot:hover {
    animation: morph 3s infinite;
}

@keyframes morph {
    0% { background-color: #da54f5; }
    33% { background-color: #d12cbb; }
    66% { background-color: #f706d7; }
}

/*Noticia destacada*/
.notDest {
    background-color: map-get($colors, "tercero");
    padding: 5rem;
    width: 100%;
    text-align: justify;

    h2 {
        @include titulos;
        @include ultracentrado;
        font-weight: 800;
        color: map-get($colors, "black")
        }
    
    h3 {
        font-family: map-get($tipo-letra, "subsubtitulo" );
        font-size: map-get($letras, "grande");
        font-weight: 700;
        color: map-get($colors, "black")
    }
    
    p {
        @include contenido;
        color: map-get($colors, "black")
    }
}

.notDest:hover{
    animation: sapito 5s infinite;
}

@keyframes sapito {
    0% { background-color: #c2466f; }
    33% { background-color: #a618d1; }
    66% { background-color: #b32fff; }
    100% { background-color: #c444ff; }
}
/*Fin de contenido de Noticias*/