//color en links//
$color-importante: #9CE3FF;

//tamaño de letra en footer//
$font-size-links-foot: 1.3rem;

//color en footer//
$color-footer: #FFDBDF;

//tamaño en cosas normales de contenido//
$font-size-content: 1.6rem;
