////////////MAPAS////////////

//paleta de colores//
$colors: (
    "primero": #AB51FF,
    "segundo": #E173EB,
    "tercero": #FFDBDF,
    "cuarto": #9CE3FF,
    "quinto": #465DC2,
    "black": #000,
    "white": #fff,
);

//Tipo de fuente//
$tipo-letra: (
    "titulo": 'M PLUS 1',
    "subTitulo": 'Dongle',
    "subsubtitulo": 'Poppins',
    "contenido": 'Poppins',
    "links": 'Roboto',
);

//Tamaño de letra//
$letras: (
    "pequeña": 1.6rem,
    "mediana": 2rem,
    "grande": 2.5rem,
    "extragrande": 4rem,
);

////////////MIXINGS////////////
//Reset cero//
@mixin todocero {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box
}

//para centrar//
@mixin ultracentrado {
    align-items: center;
    justify-content: center;
    text-align: center;
}

//titulos//
@mixin titulos {
    font-family: map-get($tipo-letra , "titulo");
    font-size: map-get($letras , "extragrande");
    font-weight: 600;
}

//Subtitulos//
@mixin subtitulos {
    font-family: map-get($tipo-letra, "subtitulo");
    font-size: map-get($letras , "grande");
    font-weight: 400;
}

//contenido//
@mixin contenido {
    font-family: map-get($tipo-letra , "contenido");
    font-size: map-get($letras , "mediana");
}

//para footer//
@mixin piedepagina {
    font-family: map-get($tipo-letra , "links");
    font-size: map-get($letras , "pequeña" );
}

//tamaño de letra en footer//
$font-size-links-foot: 1.3rem;

//tamaño en cosas normales de contenido//
$font-size-content: 1.6rem;
