@charset "UTF-8";
* {
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #000; }

header, footer, select {
  display: block; }

.cbz__nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  font-size: 2.5rem;
  font-family: "Roboto";
  font-weight: 600;
  background: linear-gradient(-90deg, black 46%, #0f138e 81%, #00d4ff 100%); }
  .cbz__nav__logo img {
    width: 50%; }
  .cbz__nav__shr-list {
    display: grid;
    justify-content: end;
    align-content: normal; }
    .cbz__nav__shr-list_list {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-items: center; }

header nav div ul li a {
  padding: 1rem; }
  header nav div ul li a:hover {
    background-color: #E173EB;
    color: #000; }

/****MEDIA QUERYS****/
/*Para el movil*/
@media only screen and (max-width: 425px) {
  /*Header y el nav*/
  .cbz__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    background: linear-gradient(360deg, black 46%, #0f138e 81%, #00d4ff 100%); }
  .cbz__nav__logo img {
    width: 100%;
    height: 100px; }
  .cbz__shr-list {
    justify-content: center;
    align-content: normal; }
  .cbz__shr-list_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #9CE3FF; }
  .cbz__shr-list_list li {
    margin: 1rem; }
  .cbz__shr-list_list li a {
    font-size: 1.4rem; }
  .cbz__shr-list_list li a:hover {
    background-color: #E173EB;
    color: #000; } }

/*Fin del header y nav*/
/*Para la tablet*/
@media only screen and (max-width: 768px) {
  /*Header y el nav*/
  .cbz__nav {
    background: linear-gradient(-90deg, black 50%, #212260 72%, #373bab 88%, #49bbd2 100%); }
  .cbz__shr-list {
    justify-content: center;
    align-content: normal; }
  .cbz__shr-list_list {
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    color: #9CE3FF; }
  .cbz__shr-list_list li {
    margin: 1rem; }
  .cbz__shr-list_list li a {
    font-size: 1.4rem; }
  .cbz__shr-list_list li a:hover {
    background-color: #E173EB;
    color: #000; } }

.piecito {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000;
  font-family: "Roboto";
  font-size: 1.6rem;
  color: #FFDBDF;
  font-weight: 500; }
  .piecito .DerechosAu {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #FFDBDF;
    font-weight: 500; }
  .piecito ul {
    font-family: "Roboto";
    font-size: 1.6rem;
    color: #FFDBDF;
    font-weight: 500; }
  .piecito .pieBtm a {
    font-weight: 900;
    text-decoration-line: none;
    color: #000; }

footer ul {
  font-size: 1.3rem;
  color: #FFDBDF; }

/****MEDIA QUERYS****/
/*Para el movil*/
/*Inicio del footer*/
@media only screen and (max-width: 425px) {
  .pieBtm {
    padding: 1.5rem;
    background-color: #AB51FF;
    display: inline-block; } }

/*Fin del footer*/
/*Para la tablet*/
/*Inicio del footer*/
@media only screen and (max-width: 768px) {
  .piecito {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000; }
  .DerechosAu {
    font-size: 1.2rem;
    justify-content: left;
    text-align: justify; }
  footer div ul li {
    padding: 1.2rem;
    list-style-type: none;
    color: #FFDBDF; }
  /*Boton volver arriba*/
  .pieBtm {
    padding: 1.5rem;
    background-color: #AB51FF;
    display: inline-block;
    text-decoration: none; } }

/*Fin del footer*/
.carounoticias {
  background-color: #000;
  overflow: hidden; }
  .carounoticias h1 {
    font-family: "M PLUS 1";
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    background-color: #AB51FF;
    opacity: 0.7; }
    @media only screen and (max-width: 768px) {
      .carounoticias h1 {
        font-size: 2.5rem;
        font-weight: 400;
        font-weight: 800; } }
  .carounoticias p {
    font-size: 1.6rem;
    color: #000;
    background-color: #E173EB;
    opacity: 0.8; }

.img__carousel {
  height: 50rem;
  object-fit: cover;
  /*Media query del carousel*/ }
  @media only screen and (max-width: 768px) {
    .img__carousel {
      height: 70vh; } }
  @media only screen and (max-width: 425px) {
    .img__carousel {
      height: 60vh; } }

/*Sección de noticias*/
.notianime {
  background-color: #264b7c;
  padding: 5rem;
  width: 100%;
  font-size: 2rem; }
  .notianime .subTitle {
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: 800;
    color: #E173EB; }
  .notianime h3 {
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: 500;
    color: #000; }
  .notianime p {
    font-family: "Poppins";
    font-size: 2rem;
    color: #FFDBDF; }
  .notianime__n1 {
    width: 33,33%; }
    .notianime__n1__img {
      width: 100%; }
  .notianime__n2 {
    width: 33,33%; }
    .notianime__n2__img {
      width: 100%; }
  .notianime__n3 {
    width: 33,33%; }
    .notianime__n3__img {
      width: 100%; }

/*ultimos caps de anime*/
.nvanimeep .subTitle {
  font-size: 2.5rem;
  font-weight: 400;
  font-weight: 800;
  color: #E173EB; }

.anime {
  background-color: #E173EB; }
  .anime__aniTitle {
    font-size: 2.5rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    font-weight: 800; }
  .anime__fondo {
    background-color: #000; }
  .anime__fondo:hover {
    color: #000;
    animation: morph 3s infinite; }

@keyframes morph {
  0% {
    background-color: #465DC2; }
  33% {
    background-color: #142fa8; }
  66% {
    background-color: #0632f7; }
  100% {
    background-color: #0c1852; } }

.titAnimenew {
  font-size: 1.6rem;
  font-weight: 700; }

p {
  font-size: 1.4rem; }

.linkanimenew {
  text-decoration: none;
  color: #E173EB; }

/*Contenido de noticia*/
/*Sección ultimas noticias*/
.ultNot {
  text-align: justify;
  background-color: #E173EB;
  padding: 2rem;
  width: 100%;
  border-bottom: #FFDBDF 1px solid; }
  .ultNot__img {
    align-items: center;
    justify-content: center;
    text-align: center; }
  .ultNot h1 {
    font-family: "M PLUS 1";
    font-size: 4rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    color: #000; }
  .ultNot h2 {
    font-size: 2.5rem;
    font-weight: 400;
    font-weight: 700;
    color: #000; }
  .ultNot p {
    font-family: "Poppins";
    font-size: 2rem;
    color: #000; }
  .ultNot span {
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    color: #000;
    font-family: "Poppins";
    font-size: 1.6rem; }

.ultNot:hover {
  animation: morph 3s infinite; }

@keyframes morph {
  0% {
    background-color: #da54f5; }
  33% {
    background-color: #d12cbb; }
  66% {
    background-color: #f706d7; } }

/*Noticia destacada*/
.notDest {
  background-color: #FFDBDF;
  padding: 5rem;
  width: 100%;
  text-align: justify; }
  .notDest h2 {
    font-family: "M PLUS 1";
    font-size: 4rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    color: #000; }
  .notDest h3 {
    font-family: "Poppins";
    font-size: 2.5rem;
    font-weight: 700;
    color: #000; }
  .notDest p {
    font-family: "Poppins";
    font-size: 2rem;
    color: #000; }

.notDest:hover {
  animation: sapito 5s infinite; }

@keyframes sapito {
  0% {
    background-color: #c2466f; }
  33% {
    background-color: #a618d1; }
  66% {
    background-color: #b32fff; }
  100% {
    background-color: #c444ff; } }

/*Fin de contenido de Noticias*/
.estrenos p {
  font-family: "Poppins";
  font-size: 2rem; }

.estrenos__subtitulos {
  font-size: 2.5rem;
  font-weight: 400;
  color: #E173EB; }
  .estrenos__subtitulos__sub {
    font-size: 2.5rem;
    font-weight: 400;
    color: #465DC2;
    font-weight: 600; }

.estrenos__subtitulos:focus {
  color: #000; }

.fomCon {
  font-family: "Poppins";
  font-size: 1.6rem;
  font-family: "Poppins";
  font-weight: 600;
  background-color: #E173EB;
  color: #000;
  padding: 5rem; }
  .fomCon h1 {
    font-size: 2.5rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    color: #000; }
  .fomCon .formtext {
    font-family: "Poppins";
    font-size: 1.6rem; }
  .fomCon .formtext:focus {
    transform: scale(1.05); }

.reglasdelaPag h1 {
  font-family: "M PLUS 1";
  font-size: 4rem;
  font-weight: 600;
  color: #AB51FF; }

.reglasdelaPag p, .reglasdelaPag li {
  font-family: "Poppins";
  font-size: 2rem;
  color: #FFDBDF;
  text-align: justify; }

.boton, .piecito .pieBtm, .boton--anime, .boton--noticia {
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #000;
  background-color: #E173EB;
  font-weight: 700;
  border-color: #E173EB; }
  .boton:hover, .piecito .pieBtm:hover, .boton--anime:hover, .boton--noticia:hover {
    color: #fff;
    background-color: #AB51FF; }

.boton--anime {
  background-color: #465DC2;
  font-weight: 600; }

.boton--noticia {
  font-weight: 600; }
